[submodule "be"]
	path = be
	url = https://github.com/tokiwa/tgle-be
[submodule "fe"]
	path = fe
	url = https://github.com/tokiwa/tgle-fe
[submodule "mkgroup"]
	path = mkgroup
	url = https://github.com/tokiwa/tgle-mkgroup
[submodule "w2v"]
	path = w2v
	url = https://github.com/tokiwa/tgle-w2v
